.add-product .default-btn::before {
  background-color: #ff2020;
}

.add-product form .form-control,
.add-product form .form-select {
  width: 30rem;
}
@media only screen and (max-width: 1020px) {
  .add-product .section-banner-title {
    font-size: 5rem;
  }
}
