.manage-orders .cancel-btn,
.manage-orders .confirm-btn {
  padding: 0.9rem 0.7rem;
}

.manage-orders .cancel-btn::before {
  background-color: #ff2020;
}
.manage-orders .confirm-btn {
  background-color: #ff2020;
}
.manage-orders .confirm-btn::before {
  background-color: #4a4a4b;
}

.manage-orders .red {
  color: #ff2020;
}

.manage-orders .green {
  color: #0cb931;
}

@media only screen and (max-width: 1200px) {
  .manage-orders .section-banner-title {
    font-size: 5.4rem;
  }
}

@media only screen and (max-width: 991px) {
  .manage-orders .section-banner-title {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 768px) {
  .container.manage-orders {
    width: 100% !important;
    margin: 0;
  }
  .manage-orders .section-banner-title {
    font-size: 3.7rem;
  }
}
