.place-order .product {
  width: 80%;
  box-shadow: 0 10px 20px rgb(0 0 0 / 15%);
}
.place-order .product img {
  width: 100%;
}

.product .product-info .detailed-price {
  color: #ff2020;
  font-size: 2rem;
}

form .form-floating .form-control[readonly] {
  background-color: #fff;
}

form .form-floating label {
  color: #141414;
}

.place-order form .form-floating .form-control,
.place-order form .form-floating .form-select {
  width: 30rem;
}

.place-order .btn.default-btn::before {
  background-color: #ff2020;
}

/* spinner */
.loader {
  position: relative;
  height: 50vh;
}

.outer,
.middle,
.inner {
  border: 3px solid transparent;
  border-top-color: #ff4a52;
  border-right-color: #ff4a52;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}

.outer {
  width: 3.5em;
  height: 3.5em;
  margin-left: -1.75em;
  margin-top: -1.75em;
  animation: spin 2s linear infinite;
}

.middle {
  width: 2.1em;
  height: 2.1em;
  margin-left: -1.05em;
  margin-top: -1.05em;
  animation: spin 1.75s linear reverse infinite;
}

.inner {
  width: 0.8em;
  height: 0.8em;
  margin-left: -0.4em;
  margin-top: -0.4em;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 991px) {
  .place-order .product {
    width: 100%;
  }

  .place-order form .form-floating .form-control,
  .place-order form .form-floating .form-select {
    width: 22rem;
  }
}

@media only screen and (max-width: 768px) {
  .place-order .product {
    width: 70%;
    margin: 0 auto 1rem;
  }

  .place-order .product img {
    width: 70%;
  }

  .place-order .product-info .product-title {
    font-size: 1.4rem;
  }

  .place-order form .form-floating .form-control,
  .place-order form .form-floating .form-select {
    width: 30rem;
  }
}
@media only screen and (max-width: 550px) {
  .place-order form .form-floating .form-control,
  .place-order form .form-floating .form-select {
    width: 20rem;
  }
}
