@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Rubik",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn.default-btn {
  padding: 25px 29px;
  background: #4a4a4b;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  border-radius: 0;
  display: inline-block;
  line-height: 0;
  cursor: pointer;
  margin-bottom: 0;
  margin: 10px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  z-index: 1;
  border: 0;
  overflow: hidden;
  margin: 0;
}

.btn.default-btn::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ff2020;
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}

.btn.default-btn:hover,
.btn.default-btn:focus {
  box-shadow: none;
  color: #fff;
}

.btn.default-btn:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}
